.toggle-switch {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 60px;
	height: 30px;
	background-color: #ccc;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.toggle-switch-handle {
	width: 26px;
	height: 26px;
	background-color: white;
	border-radius: 50%;
	transition: transform 0.3s ease;
}

.toggle-switch.on {
	background-color: #4caf50;
}

.toggle-switch-handle.on {
	transform: translateX(30px);
}

.toggle-switch.off {
	background-color: #ccc;
}

.toggle-switch-handle.off {
	transform: translateX(0);
}
